<!-- ratings/templates/ratings/rating_list.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Ratings List</title>
</head>
<body>
    <h1>Ratings List</h1>
    
    {% if ratings %}
        <table>
            <thead>
                <tr>
                    <th>User</th>
                    <th>Movie</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for rating in ratings %}
                    <tr>
                        <td>{{ rating.user_id.user_name }}</td>
                        <td>{{ rating.movie_id.movie_name }}</td>
                        <td>{{ rating.rating }}</td>
                        <td>
                            <a href="{% url 'update_rating' rating.pk %}">Edit</a>
                            <a href="{% url 'delete_rating' rating.pk %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No ratings available.</p>
    {% endif %}
    <a href="{% url 'create_rating' %}">Add Rating</a>
    <a href="{% url 'create_user' %}">Add User</a>
    <a href="{% url 'create_movie' %}">Add Movie</a>
</body>
</html>
